h1 {
    font-size: 34px;
    color: #ddddff;
    margin-bottom: 5px;
}

h2 {
    font-size: 28px;
    color: #8888ff;
}

h3 {
    font-size: 22px;
    color: #4444bb;
}
h5 {
    color: #c4c4c4;
}

.content {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: 80px;
    text-align: justify;
}

.meta {
    font-size: 18px;
    font-style: italic;
    color: #777777;
    margin-top: 10px;
    max-width: 800px;
}

.preamble {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#table-of-contents h2 {
    display: none;
}
