@font-face {
    font-family: "Hack";
    src: url('../fonts/Hack-Regular.ttf'),
        url('../fonts/Hack-Bold.ttf'),
        url('../fonts/Hack-Italic.ttf'),
        url('../fonts/Hack-BoldItalic.ttf')
}

body {
    font-family: "Hack", Arial;
    background-color: #000000;
    color: #cccccc;
    margin-top: 0px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

a,
.comment a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #aaaaff;
}

a:hover,
.comment a:hover {
    color: #5555cc;
    transition: .4s;
}

h2 {
    font-size: 27px;
    margin: 0;
}

.banner li {
    overflow: hidden;
    display: inline-block;
    height: 30px;
}

.banner li a {
    color: #ffffff;
    z-index: 5;
    display: inline-block;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: .5s;
}

.banner li a::before {
    content: "[";
    color: #aaaaaa;
}

.banner li a::after {
    content: "]";
    color: #aaaaaa;
}

.banner li a:hover {
    transition: .15s;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #9999ff;
}

.blocks {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.divider {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
}

.footer {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    text-align: center;
    padding: 5px 0px;
    z-index: 5;
    font-size: 18px;
}

.footer li a {
    color: #aaaaaa;
    padding: 4px 0px;
}

.footer li a::after,
.footer li a::before {
    color: #888888;
}

.footer-container {
    display: flex;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1600px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
    z-index: 5;
    list-style: none;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    min-height: 30px;
    text-align: center;
}